/*GRID*/
    html {box-sizing:border-box; -ms-overflow-style:scrollbar}
    *, *::before, *::after {box-sizing:inherit}

    .container-fluid {width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto}
    .row {display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; margin-right:-15px; margin-left:-15px}

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
    .col-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {position:relative; width:100%; padding-right:15px; padding-left:15px}

    .col {-ms-flex-preferred-size:0; flex-basis:0; -ms-flex-positive:1; flex-grow:1; max-width:100%}
    .col-1 {-ms-flex:0 0 8.333333%; flex:0 0 8.333333%; max-width:8.333333%}
    .col-2 {-ms-flex:0 0 16.666667%; flex:0 0 16.666667%; max-width:16.666667%}
    .col-3 {-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%}
    .col-4 {-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%}
    .col-5 {-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%}
    .col-6 {-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%}
    .col-7 {-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%}
    .col-8 {-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%}
    .col-9 {-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%}
    .col-10 {-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%}
    .col-11 {-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%}
    .col-12 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%}

@media (min-width:768px) {
    .container {max-width:720px;}
    .col-md {-ms-flex-preferred-size:0; flex-basis:0; -ms-flex-positive:1; flex-grow:1; max-width:100%}
    .col-md-auto {-ms-flex:0 0 auto; flex:0 0 auto; width:auto; max-width:100%}
    .col-md-1 {-ms-flex:0 0 8.333333%; flex:0 0 8.333333%; max-width:8.333333%}
    .col-md-2 {-ms-flex:0 0 16.666667%; flex:0 0 16.666667%; max-width:16.666667%}
    .col-md-3 {-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%}
    .col-md-4 {-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%}
    .col-md-5 {-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%}
    .col-md-6 {-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%}
    .col-md-7 {-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%}
    .col-md-8 {-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%}
    .col-md-9 {-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%}
    .col-md-10 {-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%}
    .col-md-11 {-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%}
    .col-md-12 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%}
}

@media (min-width:992px) {
    .container {max-width:960px;}
    .col-lg {-ms-flex-preferred-size:0; flex-basis:0; -ms-flex-positive:1; flex-grow:1; max-width:100%}
    .col-lg-auto {-ms-flex:0 0 auto; flex:0 0 auto; width:auto; max-width:100%}
    .col-lg-1 {-ms-flex:0 0 8.333333%; flex:0 0 8.333333%; max-width:8.333333%}
    .col-lg-2 {-ms-flex:0 0 16.666667%; flex:0 0 16.666667%; max-width:16.666667%}
    .col-lg-3 {-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%}
    .col-lg-4 {-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%}
    .col-lg-5 {-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%}
    .col-lg-6 {-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%}
    .col-lg-7 {-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%}
    .col-lg-8 {-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%}
    .col-lg-9 {-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%}
    .col-lg-10 {-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%}
    .col-lg-11 {-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%}
    .col-lg-12 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%}
}

@media (min-width:1366px) {
    .container {max-width:1140px;}
    .col-xl {-ms-flex-preferred-size:0; flex-basis:0; -ms-flex-positive:1; flex-grow:1; max-width:100%}
    .col-xl-auto {-ms-flex:0 0 auto; flex:0 0 auto; width:auto; max-width:100%}
    .col-xl-1 {-ms-flex:0 0 8.333333%; flex:0 0 8.333333%; max-width:8.333333%}
    .col-xl-2 {-ms-flex:0 0 16.666667%; flex:0 0 16.666667%; max-width:16.666667%}
    .col-xl-3 {-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%}
    .col-xl-4 {-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%}
    .col-xl-5 {-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%}
    .col-xl-6 {-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%}
    .col-xl-7 {-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%}
    .col-xl-8 {-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%}
    .col-xl-9 {-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%}
    .col-xl-10 {-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%}
    .col-xl-11 {-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%}
    .col-xl-12 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%}
}
/*GRID-END*/

/*FLEX*/
    .d-flex {display:-ms-flexbox !important; display:flex !important}
    .justify-content-start {-ms-flex-pack:start !important; justify-content:flex-start !important}
    .justify-content-end {-ms-flex-pack:end !important; justify-content:flex-end !important}
    .justify-content-center {-ms-flex-pack:center !important; justify-content:center !important}
    .justify-content-between {-ms-flex-pack:justify !important; justify-content:space-between !important}
    .justify-content-around {-ms-flex-pack:distribute !important; justify-content:space-around !important}
    .align-items-start {-ms-flex-align:start !important; align-items:flex-start !important}
    .align-items-end {-ms-flex-align:end !important; align-items:flex-end !important}
    .align-items-center {-ms-flex-align:center !important; align-items:center !important}
    .flex-column {-ms-flex-direction:column !important; flex-direction:column !important}
/*FLEX-END*/

/*FONTS*/
    @font-face {font-family:Lora; src:url('../school-p/fonts/header/Lora/static/Lora-Regular.ttf') format('truetype')}
    @font-face {font-family:Playfair-Regular; src:url('../school-p/fonts/header/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype')}

    @font-face {font-family:Montserrat-Regular; src:url('../school-p/fonts/text/Montserrat/Montserrat-Regular.ttf') format('truetype')}
    @font-face {font-family:Montserrat-Light; src:url('../school-p/fonts/text/Montserrat/Montserrat-Light.ttf') format('truetype')}
    @font-face {font-family:OpenSans-Regular; src:url('../school-p/fonts/text/Open_Sans/OpenSans-Regular.ttf') format('truetype')}
    @font-face {font-family:OpenSans-Light; src:url('../school-p/fonts/text/Open_Sans/OpenSans-Light.ttf') format('truetype')}
    @font-face {font-family:Roboto-Regular; src:url('../school-p/fonts/text/Roboto/Roboto-Regular.ttf') format('truetype')}
    @font-face {font-family:Roboto-Light; src:url('../school-p/fonts/text/Roboto/Roboto-Light.ttf') format('truetype')}
    @font-face {font-family:Roboto-Thin; src:url('../school-p/fonts/text/Roboto/Roboto-Thin.ttf') format('truetype')}
/*FONTS-END*/


html,body, main{width:100%; height:100%; margin:0; scrollbar-color:#002959 #fff; scrollbar-width:thin}

::-webkit-scrollbar-thumb {background-color:#002959; border-radius:5px}
::-webkit-scrollbar {width:5px; height:5px; background-color:#fff}


@media (min-width:1px) {
    h1 {text-align:center; text-transform:uppercase; color:#d77a06; font-size:30px; font-weight:400; margin:0px 0 30px 0; font-family:Lora}
    h2 {text-align:center; text-transform:uppercase; color:#d77a06; font-size:25px; font-weight:400; margin:0 0 45px 0; font-family:Lora}
    h3 {color:#002959; font-size:21px; font-weight:400; margin:0 0 45px 0; font-family:Lora}
    a, p {font-size:16px; line-height:30px; font-family:Montserrat-Regular}
    p {color:#000; margin:0}
    a {color:#d77a06; text-decoration:none}
    
    /*PRELOADER*/
    /*#preloader .flip {position:relative; letter-spacing:0; transform:scaleX(-1); margin-top:0; top:50%}
    #preloader .flip .text-wrapper {position:relative; display:inline-block; padding:0.02em 50px; overflow:hidden}
    #preloader .flip .letter {display:inline-block; line-height:1em; transform-origin:0 0; margin:0 10px}
    #preloader a {text-decoration:none; color:#333; font-style:italic; font-size:1.2em}
    #preloader a:hover {color:#990000; transition:1.2s ease}*/
    /*PRELOADER-END*/
    
    /*NAVBAR*/
    #navbar {position:fixed; top:0; background:#fff; z-index:2}
    #navbar.navbar-open {min-height:100%; background:#fff}
    #navbar .col-lg-8 {display:none}
    #navbar .col-lg-2 {display:flex; justify-content:space-between; align-items:center}
    #navbar .col-lg-2 a {padding:15px 0}
    #navbar .logo {display:block; width:134px; height:63.9px; background:url("../school-p/img/logo.svg"); background-repeat:repeat; background-size:auto; background-size:cover; background-repeat:no-repeat}
    #hamburger{display:inline-block; cursor:pointer}
    #hamburger .bar1, .bar2, .bar3 { width:40px; height:4px; background-color:#002959; margin:8px 0; transition:all.4s; border-radius:2px}
    #hamburger .bar1.clicked {-webkit-transform:rotate(-45deg) translate(-8px, 8px); transform:rotate(-45deg) translate(-8px, 8px)}
    #hamburger .bar2.clicked {opacity:0}
    #hamburger .bar3.clicked {-webkit-transform:rotate(45deg) translate(-8px, -8px); transform:rotate(45deg) translate(-8px, -8px)}
    #mnav {display:none}
    #mnav.mnav {display:block}
    
    #mnav .navbar-list {list-style-type:none}
    #mnav a {display:block; padding:15px 0; text-decoration:none; font-size:16px; color:#d77a06; text-transform:uppercase; margin:0; transition:all.3s}
    #mnav li .sub-menu {display:none; list-style-type: disclosure-closed; color:#e67e42}
    #mnav li.active .sub-menu {display:block}
    #mnav li.active .sub-menu > li > a{color:#002959; padding:15px 15px 15px 0;}
    
    /*NAVBAR-END*/
    
    /*BANNER*/
    .data-aos-1 {transition-delay:4.1s}
    .data-aos-2 {transition-delay:4.25s}
    #slider h2 {font-size:16px; line-height:1.5; letter-spacing:0px; margin:0 0 45px 0}
    #slider {display:flex; justify-content:center; height:100%; flex-wrap:wrap}
    #slider .swiper-container {position:relative; width:100%; height:90%; overflow:hidden; list-style:none; padding:0; margin:0}
    #slider .swiper-wrapper {position:relative; width:100%; height:100%; display:flex; transition-property:transform}
    #slider .swiper-slide {flex-shrink:0; width:100%; height:100%; position:relative; transition-property:transform}
    #slider .slide-1 {display:flex; justify-content:center; height:100%; background:#002959; padding:75px 15px; background:#002959; background-size:cover; background-position:center}
    #slider .slide-1 h2 {visibility:hidden}
    #slider .slide-2 {display:flex; justify-content:center; height:100%; background:#002959; padding:75px 15px}
    #slider .slide-2 .row-button {display:flex; justify-content:center}
    #slider .slide-2 a {color:#fff; text-decoration:none; text-transform:uppercase; margin:0; font-size:16px; padding:15px; background:#d77a06; border-radius:5px}
    #slider .slide-3 {display:flex; justify-content:center; padding:30px 15px; background:#002959}
    #slider .slide-3 .row-button {display:flex; justify-content:center}
    #slider .slide-3 a {color:#fff; text-decoration:none; text-transform:uppercase; margin:0; font-size:16px; padding:15px; background:#d77a06; border-radius:5px}
    #slider .slide-3 .info {visibility:hidden}
    #slider .swiper-pagination {position:absolute; text-align:center; transition:.3s opacity; transform:translate3d(0,0,0); z-index:1}
    #slider .swiper-pagination-bullets {bottom:10px; left:0; width:100%!important}
    #slider .swiper-pagination-bullet {width:10px; height:10px; display:inline-block; border-radius:100%; background:#000; opacity:.2}
    #slider .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 5px}
    #slider .swiper-pagination-clickable .swiper-pagination-bullet {cursor:pointer}
    #slider .swiper-pagination-bullet-active {opacity:1; background:#d77a06}
    #section-bottom {width:100%; height:10%; background:#fff}
    #bottom-button {display:block; color:#fff; cursor:pointer; position:absolute; bottom:30px; border-radius:2px; transition-duration:.5s; width:50px; height:50px; padding:10px; left:50%; margin-left:-25px; transform:rotate(180deg)}
    #bottom-button .top-button:hover {background-color:rgba(255, 255, 255, 0.1); transition-duration:.5s;}
    #bottom-button .arrow-left, .arrow-right {width:45px; height:2px; background-color:#d77a06; border-radius:1px; transition-property:transform; position:absolute}
    #bottom-button .arrow-left {animation:top-bottom 5s infinite ease; transform:translate3d(0, 0, 0) rotate(-45deg) scale(0.5, 1); top:22px; right:10px; transition:1s;}
    #bottom-button .arrow-right {animation:top-bottom 5s infinite ease; transform:translate3d(0, 0, 0) rotate(45deg) scale(0.5, 1); top:22px; left:10px; transition:1s}

    @keyframes top-bottom {
    0% {top:22px}
    10% {top:10px}
    20% {top:22px}
    30% {top:10px}
    40% {top:22px}
    100% {top:22px}
}
    /*BANNER-END*/
    
    
    /*PARTICLES-JS*/
    #particles-js{width:100%; height:100%; position:fixed; top:0; z-index:-1}
    #particles-js canvas{display:block; vertical-align:bottom}
    /*PARTICLES-JS-END*/
    
    /*CATEGORY*/
    #category {padding:75px 15px 37.5px 15px}
    #category .table {background:#fff; box-shadow:0px 10px 20px #d9d9d9; padding:0 0 30px 0; border-radius:5px; height:100%; border:1px solid #fff; transition:all.3s}
    #category .col-lg-3 {padding:15px}
    #category h3 {position:relative; color:#002959; margin:0; padding:30px; border-radius:5px 5px 0 0; transition:all.3s}
    #category ul {list-style-type:none; margin:0; padding:0}
    #category .table a {display:inline-block; position:relative; width:100%; text-decoration:none; color:#000; padding:10px 30px; line-height:1.5; font-size:16px; cursor:pointer; transition:all.2s}
    #category .table span {position:relative; color:#000; transition:all.1s}
    #category .table h3::after {content:""; display:block; position:absolute; bottom:15px; left:30px; width:50%; height:2px; -webkit-transition:all.3s; -o-transition:all.3s; -moz-transition:all.3s; transition:all.3s; background:#002959}
    /*CATEGORY-END*/
    
    /*LABLE-LIST*/
    #lable {padding:37.5px 15px 75px 15px}
    #lable-list a {display:inline-block; width:178px; height:112px; background-repeat:no-repeat; background-size:cover; box-shadow:0px 10px 20px #d9d9d9; transition:all.3s}
    #lable-list a:hover {box-shadow:none; transition:all.3s}
    #lable-list .col-lg-2 {display:flex; justify-content:center; padding:15px 0}
    #lable-list .unesco {background:url("../school-p/img/lables/unesco.png")}
    #lable-list .ekool {background:url("../school-p/img/lables/ekool.png")}
    #lable-list .erasmus {background:url("../school-p/img/lables/erasmus_plus.png")}
    #lable-list .keel {background:url("../school-p/img/lables/keelekumblus.png")}
    #lable-list .fox {background:url("../school-p/img/lables/fox.png")}
    #lable-list .tek {background:url("../school-p/img/lables/tek.png")}
    #lable-list .nk {background:url("../school-p/img/lables/nooredkooli.png")}
    #lable-list .tagasi {background:url("../school-p/img/lables/tagasikooli.png")}
    #lable-list .marka {background:url("../school-p/img/lables/marka_ja_aita.png")}
    #lable-list .kiamisest {background:url("../school-p/img/lables/kiamisest.png")}
    #lable-list .tore {background:url("../school-p/img/lables/tore.png")}
    /*LABLE-LIST-END*/
    
    /*FOOTER*/
    #footer {background:#002959; padding:75px 15px 37.5px 15px}
    #footer .table {min-height:300px; padding:15px}
    #footer h3 {color:#d77a06}
    #footer .phone-active a, #footer .mail-active a, #footer a{text-decoration:none; color:#fff; font-size:16px; transition:all.3s}
    #footer p {color:#fff; line-height:1.5; font-size:16px; margin:0}
    #footer ul {margin:45px 0 0 0; padding:0; list-style-type:none}
    #footer li {padding:7.5px 15px; border-left:3px solid #d77a17}
    #footer .copyright {margin:45px 0 0 0; color:#fff; font-family:Montserrat-Light; font-size:8px}
    #footer .map {display:none}
    /*FOOTER-END*/
    
    /*PRELOADER*/
    /*#preloader {position:fixed; left:0; top:0; right:0; bottom:0; background:#002959; z-index:999}
    .loaded_hiding #preloader {transition:0.3s opacity; opacity:0}
    #preloader .row-p {position:relative; top:50%; left:50%; width:70px; height:70px; margin-top:-35px; margin-left:-35px; text-align:center; animation:preloader-rotate 2s infinite linear}
    #preloader .loader-1 {width:50px; height:50px;  position:absolute; top:50%; margin:-25px auto 0; border-radius:50%; background:#ffffff; background:-moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background:-webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background: o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background:-ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background:linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%); position:relative; -webkit-animation: loader-1 1.5s infinite linear; animation:loader-1 1.5s infinite linear; -webkit-transform:translateZ(0); -ms-transform:translateZ(0); transform:translateZ(0)}
    #preloader .loader-1:before { content:''; width:25px; height:25px; position:absolute; top:0; left:0; background:#ffffff; border-radius:100% 0 0 0;}
    #preloader .loader-1:after {content:''; width:40px; height:40px; border-radius:50%; background:#002959; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0;}

    @-webkit-keyframes loader-1 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes loader-1 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }*/
    /*PRELOADER-END*/

@media (min-width:1024px) {
    h1 {text-align:center; letter-spacing:30px; text-transform:uppercase; color:#d77a06; font-size:55px; font-weight:400; margin:105px 0 30px 0; font-family:Lora}
    h2 {text-align:center; letter-spacing:15px; text-transform:uppercase; color:#d77a06; font-size:35px; font-weight:400; margin:0 0 45px 0; font-family:Lora}
    h3 {color:#002959; font-size:25px; font-weight:400; margin:0 0 45px 0; font-family:Lora}
    a, p {font-family:Montserrat-Regular}
    
    /*NAVBAR*/
    #navbar .col-lg-2 {display:flex; justify-content:center align-items:center}
    #navbar .col-lg-2 a {padding:0!important; margin:0}
    #navbar .logo {width:126.783px; height:67.383px}
    #navbar .col-lg-8 {display:flex; align-items:center; justify-content:flex-end}
    #navbar ul {margin:0; padding:0; font-size:0}
    #navbar li {display:inline-block; position:relative}
    #navbar a {display:block; padding:30px 0; text-decoration:none; font-size:16px; color:#d77a06; text-transform:uppercase; margin:0 15px; transition:all.3s}
    #navbar a:hover {color:#002959; transition:all.3s}
    #navbar ul li:last-child a {margin:0 0 0 15px}
    #navbar ul li > ul {position:absolute; background:#fff; padding:10px 20px; width:310px; border-radius:0 0 5px 5px; left:0; top:90%; border: 1px solid #d77a06; opacity:0; transition:all.3s; visibility:hidden}
    #navbar ul li:hover > .sub-menu {opacity:1; transition:all.3s; top:100%; visibility:visible; border-top:3px solid #d77a06}
    #navbar .sub-menu li {display:block}
    #navbar .sub-menu a {display:block; margin:0!important; padding:10px 0!important; font-size:14px; transition:all.3s}
    #navbar .sub-menu a:hover {padding:10px 0 10px 5px!important; transition:all.3s}
    
    #navbar ul li > ul li > ul {position:absolute; background:#fff; padding:10px 20px; width:310px; border-radius:0 0 5px 5px; left:250px; top:-13px; border: 1px solid #d77a06; opacity:0; transition:all.3s; visibility:hidden}
    
    #navbar ul li:hover > ul li:hover > ul {left:270px; top:-13px}
    #fader {position:fixed; height:100%; width:100%; z-index:1; background:rgba(0, 0, 0, 0); visibility:hidden; transition:all.3s}
    #hamburger{display:none}
    #navbar:hover {position:fixed; z-index:2; background:#fff; opacity:1; transition:all.3s}
    #navbar:hover ~ #fader {background:rgba(0, 0, 0, 0.4); visibility:visible; z-index:1; transition:all.3s}
    #navbar .logo{width:126.783px; height:67.383px}
    #navbar a {padding:30px 0}
    #navbar .submenu a {padding:10px 0}
    /*NAVBAR-END*/


    /*BANNER*/
    #slider h2 {font-size:18px; letter-spacing:5px}
    #slider .slide-1 {padding:90px 15px; background:linear-gradient( rgba(0, 41, 89, 0.9), rgba(0, 41, 89, 0.6) ), url('http://development/wp-content/uploads/2020/12/6.jpg'); background-size:cover; background-position:center}
    #slider .slide-1 h2 {visibility:visible}
    #slider .slide-2 {align-items:center; height:100%; background:#002959; padding:90px 15px}
    #slider .slide-3 {padding:90px 15px}
    #slider .slide-3 a {visibility:hidden}
    #slider .slide-3 .info {position:relative; width:40vw; height:19vw; overflow:hidden; visibility:visible}
    #slider .slide-3 .info-img {background:url('http://development/wp-content/uploads/2020/12/14.jpg'); width:100%; height:100%; background-size:cover; background-position:center}
    /*BANNER-END*/

    /*CATEGORY*/
    #category .table {padding:0 0 45px 0; background:rgba(255,255,255, 0.3); transition:all.3s}
    #category .table:hover {background:rgba(255,255,255, 1); transition:all.3s}
    #category .col-lg-3 {min-height:650px}
    #category h3 {padding:45px}
    #category .table a {padding:10px 45px}
    #category .table a:hover {background:#002959; transition:all.2s}
    #category .table span {position:relative; color:#000; transition:all.1s}
    #category .table a:hover span {color:#fff; transition:all.1s}
    #category .table h3::after {content:""; display:block; position:absolute; bottom:30px; left:45px; width:0; height:2px; -webkit-transition:all.3s; -o-transition:all.3s; -moz-transition:all.3s; transition:all.3s; background:#002959}
    #category .table:hover h3::after {width:50%}
    /*CATEGORY-END*/
    
    /*LABLE-LIST*/
    #lable-list .col-lg-2 {padding:30px 0}
    /*LABLE-LIST-END*/

    /*FOOTER*/
    #footer .col-lg-3:nth-child(2) .table:last-child {margin: 60px 0 0 0}
    #footer .copyright {margin:60px 0 0 0; font-size:12px}
    #footer .map {display:block; width:346.5px; height:220.5px; background-repeat:no-repeat!important; margin:100px 0 0 0; background-size:cover!important; background:url("../school-p/img/map.svg")}
    #footer .phone-active a:hover, #footer .mail-active a:hover, #footer a:hover {color:#d77a06; transition:all.3s}
    /*FOOTER-END*/



    /*PRELOADER*/
    /*preloader {position:fixed; left:0; top:0; right:0; bottom:0; background:#002959; z-index:999}
    body.loaded_hiding {overflow:hidden}
    .loaded_hiding #preloader {transition:0.3s opacity; opacity:1}
    .loaded #preloader {transition:800ms; transform:translateY(-100vh); opacity:0}
    #preloader .row-p {display:none; position:relative; top:50%; left:50%; width:70px; height:70px; margin-top:-35px; margin-left:-35px; text-align:center; animation:preloader-rotate 2s infinite linear}
    #preloader .loader-1 {width:50px; height:50px;  position:absolute; top:50%; margin:-25px auto 0; border-radius:50%; background:#ffffff; background:-moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background:-webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background: o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background:-ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%); background:linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%); position:relative; -webkit-animation: loader-1 1.5s infinite linear; animation:loader-1 1.5s infinite linear; -webkit-transform:translateZ(0); -ms-transform:translateZ(0); transform:translateZ(0)}
    #preloader .loader-1:before { content:''; width:25px; height:25px; position:absolute; top:0; left:0; background:#ffffff; border-radius:100% 0 0 0;}
    #preloader .loader-1:after {content:''; width:40px; height:40px; border-radius:50%; background:#002959; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0;}

    @-webkit-keyframes loader-1 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes loader-1 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }*/
    /*PRELOADER-END*/

    /*PAGE-BANNER*/
    #page-banner {height:300px}
    #page-banner > .row {height:100%}
    #page-banner .col-lg-1 {background:#002959}
    #page-banner .col-lg-8 {display:flex; justify-content:flex-start; align-items:flex-end; padding:75px 15px; background:#002959}
    #page-banner .col-lg-4 {min-height:100%; right:10%; top:70%; background:#fff; box-shadow:0 50px 100px -30px rgba(0,0,0,.5)}
    #page-banner h2 {margin:0; text-align:start}
    /*PAGE-BANNER-END*/

    /*PAGE-CONTENT*/

        /*STYLE-FOR-ALL-PAGE*/
    .page-content .row {justify-content:center}
    .page-content .col-lg-5:last-child .col-lg-12:last-child::before, .page-content .col-lg-5:last-child .col-lg-10:last-child::before {content:"Tallinna Pae Gumnaasium"; bottom:-60px; right:15px; width:50%; text-align:end; font-size:14px; letter-spacing:5px; text-transform:uppercase; position:absolute; color:#d77a06; font-family:Lora}
    .page-content .col-lg-5:last-child .col-lg-12:last-child::after, .page-content .col-lg-5:last-child .col-lg-10:last-child::after {content:""; bottom:-30px!important; right:15px; position:absolute; width:50%; height:2px; background:#002959}
    .page-content .wp-block-image img {width:100%; height:100%; box-shadow:0px 50px 100px -30px rgba(0,0,0,0.5)}
    .page-content figure {height:100%; margin:0; overflow-x:inherit}
    .page-content figcaption {color:#002959; font-size:25px; font-weight:400; margin:0 0 30px 0!important; font-family:Lora}
    .page-content .col-lg-5:last-child figcaption {text-align:end}
    .page-content ul {font-size:16px; line-height:30px; font-family:Montserrat-Regular; list-style:none; padding:0; margin:0}
    .page-content i {margin:0 10px 0 0; color:#002959}
    .page-content .table {background:#fff; box-shadow: 0px 10px 20px #d9d9d9; padding:45px; border-radius:5px}
    .page-content .col-lg-5:last-child .col-lg-10 {display:flex; justify-content:flex-end}
        /*STYLE-FOR-ALL-PAGE-END*/

        /*TABLE-PAGE-MAIN-STYLE-LIST*/
    .table-list-page  {padding:75px 15px}
    .table-list-page  table {box-shadow: 0px 10px 20px #d9d9d9; border-collapse:collapse; border-spacing:0}
    .table-list-page tr {position:relative; transition:all.3s}
    .table-list-page tr:first-child {background:#002959}
    .table-list-page tr:first-child::before{width:0; height:0}
    .table-list-page tr:first-child td {font-size:21px; font-family:Lora; color:#fff; font-family:Lora; font-size:21px; font-weight:400}
    .table-list-page tr:hover td {color:#fff; transition:all.3s}
    .table-list-page tr:hover {background:#002959; transition:all.3s}
    .table-list-page tr:hover .hover:hover {background:#d77a06; transition:all.3s}
    .table-list-page tr:hover .hover:hover a {color:#fff}
    .table-list-page td {font-size:14px; color:#000; line-height:1.5; padding:15px; font-family:Montserrat-Regular; transition:all.3s}
    .table-list-page td:first-child {padding:15px 15px 15px 30px}
    .table-list-page td:last-child {padding:15px 30px 15px 15px}
    .table-list-page td a {font-size:14px; text-decoration:none; color:#d77a06; line-height:1.5; transition:all.5s}
    .table-list-page .col-lg-5:first-child .col-lg-12 h3 {letter-spacing:0; text-align:start}
    .table-list-page .col-lg-5:last-child .col-lg-12 h3 {letter-spacing:0; text-align:end}
    .table-list-page .col-lg-12 {margin:0 0 100px 0}
    .table-list-page .col-lg-12:last-child {margin:0}
    .table-list-page .col-lg-5:last-child .col-lg-12:last-child {margin: 0 0 100px 0}
        /*TABLE-PAGE-MAIN-STYLE-LIST-END*/

        /*COMMON-PAGE-MAIN-STYLE-LIST*/
    .common-page {padding:75px 15px 0 15px}
    .common-page .col-lg-5:last-child {top:-130px}
    .common-page .col-lg-5:first-child .col-lg-10:nth-child(2n)::after {content:""; bottom:-75px; left:15px; position:absolute; width:50%; height:2px; background:#002959}
    .common-page .col-lg-5:last-child .col-lg-10:nth-child(2n-1)::after {content:""; bottom:-75px; right:15px; position:absolute; width:50%; height:2px; background:#002959}
    .common-page .col-lg-10 {margin:0 0 150px 0}
    .common-page .col-lg-10:last-child {margin:0}
    .common-page .col-lg-5:first-child .row {justify-content:flex-start}
    .common-page .col-lg-5:last-child .row {justify-content:flex-end}
        /*COMMON-PAGE-MAIN-STYLE-LIST-END*/

        /*WP-FILE-LINK*/
    .wp-block-file {display:flex; justify-content:space-between; text-align:center; margin:0!important}
    .wp-block-file:last-child {margin:0!important}
    .wp-block-file a {display:flex; align-items:center; color:#d77a06; text-decoration:none}
    .wp-block-file .wp-block-file__button {position:relative; background:none!important; font-size:16px!important; border-radius:0!important; color:#002959!important; transition:all 500ms cubic-bezier(0.77, 0, 0.175, 1); opacity:1!important; z-index:1}
    .wp-block-file .wp-block-file__button::before, .wp-block-file .wp-block-file__button::after {content:''; position:absolute;	transition:inherit;	z-index:-1}
    .wp-block-file .wp-block-file__button:hover {color:#fff!important; transition-delay:.5s}
    .wp-block-file .wp-block-file__button:hover::before {transition-delay:0s}
    .wp-block-file .wp-block-file__button:hover::after {background:#002959 !important; transition-delay:.35s}
    .wp-block-file .wp-block-file__button::before {top:0; left:50%;	height:100%; width:0; border:1px solid #002959;	border-left:0; border-right:0}
    .wp-block-file .wp-block-file__button::after {bottom:0;	left:0;	height:0; width:100%;	background:#002959!important}
    .wp-block-file .wp-block-file__button:hover::before {left:0; width:100%}
    .wp-block-file .wp-block-file__button:hover::after {top:0; height:100%}
        /*WP-FILE-LINK-END*/

        /*MEEDIAS-TEMPLATE*/
    #meedias-content .col-lg-5:first-child .col-lg-12:first-child {margin:100px 0 100px 0}
        /*MEEDIAS-TEMPLATE-END*/

        /*SERVICE-LIST-TEMPLATE*/
    #service-list-content .row {height:100%}
    #service-list-content .col-lg-5:first-child .row {justify-content:flex-start; align-items:center}
        /*SERVICE-LIST-TEMPLATE-END*/

        /*ACHIEVEMENTS-TEMPLATE*/
    #achivements-content .col-lg-5:first-child .col-lg-12:first-child {margin:250px 0 100px 0}
    #achivements-content .slider-achivements {box-shadow:0 50px 100px -30px rgba(0,0,0,.5)}
    #achivements-content .swiper-container {overflow:hidden}
    #achivements-content .swiper-wrapper {display:flex; transition-property:transform}
    #achivements-content .slider-achivements .slide {flex-shrink:0; transition-property:transform}
    #achivements-content .slider-achivements .slide img {box-shadow:none}
    #achivements-content .swiper-pagination {position:absolute; text-align:center; transition:.3s opacity; transform:translate3d(0,0,0); z-index:10}
    #achivements-content .swiper-pagination-bullets {bottom:10px; left:0; width:100%}
    #achivements-content .swiper-pagination-bullet {width:10px; height:10px; display:inline-block; border-radius:100%; background:#000; opacity:.2}
    #achivements-content .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 5px}
    #achivements-content .swiper-pagination-clickable .swiper-pagination-bullet {cursor:pointer}
    #achivements-content .swiper-pagination-bullet-active {opacity:1; background:#002959;}
        /*ACHIEVEMENTS-TEMPLATE-END*/

        /*RUUMIRENT-TEMPLATE*/
    #ruumirent-content {padding:75px 15px 0 15px}
    #ruumirent-content .col-lg-5:last-child {top:-130px}
    #ruumirent-content .col-lg-5:last-child .row {justify-content:flex-end}
    #ruumirent-content .wp-block-file:nth-child(2) {margin:0 0 30px 0!important}
        /*RUUMIRENT-TEMPLATE-END*/

        /*KOOLISOOKLA-TEMPLATE*/
    #koolisookla-content .wp-block-file {margin:0!important}
        /*KOOLISOOKLA-TEMPLATE-END*/

        /*OPPENOUKOGU-TEMPLATE*/
    #oppenoukogud-content .col-lg-5:first-child .col-lg-12:first-child {margin:100px 0 100px 0}
        /*OPPENOUKOGU-TEMPLATE-END*/

        /*JUHTKOND-TEMPLATE*/
    #juhtkond-content .col-lg-5:first-child .col-lg-12:first-child {margin:100px 0 100px 0}
        /*JUHTKOND-TEMPLATE-END*/

        /*KLASSIJUHATAJAD-TEMPLATE*/
    #klassijuhatajad-content .col-lg-5:first-child .col-lg-12:first-child {margin:100px 0 100px 0}
        /*KLASSIJUHATAJAD-TEMPLATE-END*/

        /*OPETAJAD-TEMPLATE*/
    #opetajad-content .col-lg-5:first-child .col-lg-12:first-child {margin:100px 0 100px 0}
        /*OPETAJAD-TEMPLATE-END*/

        /*SPETSIALISTID-TEMPLATE*/
    #spetsialistid-content {padding:75px 15px 75px 15px}
    #spetsialistid-content .col-lg-5:last-child {top:-130px}
    #spetsialistid-content .col-lg-5:last-child .row {justify-content:flex-end}
        /*SPETSIALISTID-TEMPLATE-END*/

        /*TOOKORRALDUS-TEMPLATE*/
    #tookorraldus-content {padding:75px 15px 0 15px}
    #tookorraldus-content .col-lg-5:last-child {top:-130px}
    #tookorraldus-content .col-lg-5:last-child .row {justify-content:flex-end}
        /*TOOKORRALDUS-TEMPLATE-END*/

        /*TERVISEEDENDUS-TEMPLATE*/
    #terviseedendus-content .col-lg-5:last-child {top:-130px}
    #terviseedendus-content .col-lg-5:last-child .row {justify-content:flex-end}
    #terviseedendus-content .wp-block-file {margin:0 0 30px 0!important}
        /*TERVISEEDENDUS-TEMPLATE-END*/

        /*OPPEKAVA-TEMPLATE*/
    #oppekava-content .col-lg-5:first-child .col-lg-12:first-child {margin:100px 0}
    #oppekava-content .col-lg-5:last-child .row {justify-content:flex-end}
    #oppekava-content p {font-style:italic}
        /*OPPEKAVA-TEMPLATE-END*/
    
        /*LOPETAJA-TEMPLATE*/
    #gumnaasiumi-lopetaja-content {padding:75px 15px}
    #gumnaasiumi-lopetaja-content .table h3:nth-child(4) {margin:45px 0}
    #gumnaasiumi-lopetaja-content p {margin:0 0 15px 0}
        /*LOPETAJA-TEMPLATE-END*/
        
        /*JARELVALVE-TEMPLATE*/
    #jarelvalve-content .wp-block-file {margin:0 0 30px 0!important}
        /*JARELVALVE-TEMPLATE-END*/
    
    /*POHIKOOLI-LOPETAJA-TEMPLATE*/
    #pohikooli-lopetaja-content p {font-style:italic}
    /*POHIKOOLI-LOPETAJA-TEMPLATE-END*/
    
    /*UURIMISTOO-TEEMA-TEMPLATE*/
    #uurimistoo-teema-content .wp-block-file:nth-child(4) {margin:0 0 45px 0!important}
    /*UURIMISTOO-TEEMA-TEMPLATE-END*/
    
    /*KOOSOLEKUD-TEMPLATE*/
    #koosolekud-content figcaption {color:#6a6a6a; font-size:14px; font-style:italic; margin:10px 0 30px 0 !important}
    #koosolekud-content .col-lg-5:first-child .col-lg-12:first-child {margin: 100px 0 100px 0}
    /*KOOSOLEKUD-TEMPLATE-END*/
    
    /*HOOLEKOGU-TEMPLATE*/
    #hoolekogu-content .table {width:100%}
    #hoolekogu-content h3:first-child {margin:0 0 45px 0}
    #hoolekogu-content h3 {margin:45px 0 45px 0}
    /*HOOLEKOGU-TEMPLATE-END*/
    
    /*EELKOOL-TEMPLATE*/
    #eelkool-content .day-list {display:flex; flex-wrap:wrap; width:100%; margin:0 0 10px 0}
    #eelkool-content .day {position:relative; width:50%; color:#002959; text-align:center; font-family:Lora; font-size:21px; padding:15px; /*transition:all 500ms cubic-bezier(0.77, 0, 0.175, 1); cursor:pointer*/}
    #eelkool-content .is-active {opacity:1}
    #eelkool-content .disable {opacity:0; position:absolute; top:140px; padding:0}
    #eelkool-content .wp-block-table {}
    /*#eelkool-content .day:before, #eelkool-content .day:after {
        content: '';
        position: absolute;	
        transition: inherit;
        z-index: -1;
    }

    #eelkool-content .day:hover {
        color: #fff;
        transition-delay: .5s;
    }

    #eelkool-content .day:hover:before {
        transition-delay: 0s;
    }

    #eelkool-content .day:hover:after {
        background: #002959;
        transition-delay: .35s;
    }
    
    
    
    .day:before, 
    .day:after {
        top: 0;
        width: 0;
        height: 100%;
    }

    .day:before {
        right: 0;
        border: 1px solid #002959;
        border-left: 0;
        border-right: 0;	
    }

    .day:after {
        left: 0;
    }

    .day:hover:before,
    .day:hover:after {
        width: 100%;
    }*/
    /*EELKOOL-TEMPLATE-END*/
    
    /**/
    #lapsevanemate-kooli-materjalid-content {padding:75px 15px}
    #lapsevanemate-kooli-materjalid-content h4 {color:#002959; font-size:20px; font-weight:400; margin:30px 0; font-family:Lora}
    #lapsevanemate-kooli-materjalid-content p + p {margin:15px 0 0 0}
    /**/
    
    /*TEST*/
    #koolivorm-content .flipper {transition:0.6s; transform-style:preserve-3d; position:relative; height:450px}
    #koolivorm-content .flip-front, .flip-back {backface-visibility:hidden; -webkit-backface-visibility:hidden; position:absolute; top:0; left:0; width:100%}
    #koolivorm-content .flip-front {z-index:2; transform:rotateY(0deg); text-align:center}
    #koolivorm-content .flip-back {transform:rotateY(180deg)}
    #koolivorm-content .col-lg-6 {margin:0 0 150px 0}
    #koolivorm-content .flip-button {padding:10px 20px; background:#d77a06; color:#fff}
    #flip-1 h3, #flip-2 h3 {margin:45px 0 90px 0}
    #flip-1 .flip-back h3:nth-child(2), #flip-2 .flip-back h3:last-child {margin:30px 0 45px 0}
    #koolivorm-content .flip-button {padding:10px 20px; background:#d77a06; color:#fff}
    /*TEST-END*/
/*PAGE-CONTENT-END*/